html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

header {
  background-color: aquamarine;
}

.cv {
  box-sizing: content-box;
  background-color: aliceblue;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 30px;
}

.nav-item a {
  color: lightslategray;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
}
.nav-item a:hover {
  color: black;
  background-color: blueviolet;
}

@media (max-width: 600px) {
  .nav-link {
    padding: 10px;
    margin: auto;
  }
}

main {
  padding-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  background-color: aliceblue;
  padding: 0px 50px 10px 100px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    margin: auto;
  }
}

h1 {
  font-size: 50px;
  line-height: 50px;
  padding-top: 50px;
}

ul.contacts {
  list-style-type: georgian;
}

ul.languages {
  list-style-type: georgian;
}

.a {
  text-decoration: none;
}

code {
  font-family: Consolas, "courier new";
  background-color: antiquewhite;
}

footer {
  margin: 0px auto 30px;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: auto;
}

.footer-item {
  margin: 0px 30px;
  padding: 0px 5px;
}

.footer-github {
  display: flex;
  align-items: center;
}
